section {
  max-width: 640px;
  margin: 0 auto;
}

body {
  background: linear-gradient(to bottom, #7927b2, #fb3182);
}

.jumbotron {
  margin-top: 10px;
  padding: 10px 0 25px;
}
.jumbotron h1 {
  font-size: 35px;
}